.b-posts {
  table {
    width: 100%;
    border-radius: 14px;
    background-color: transparent;
    
    thead {
      & > tr {
        th {
          font-weight: 600;
          font-size: $font-size-small;
          color: $color-second;
        }
      }
    }

    tbody {
      & > tr {
        &:nth-child(even){
          background-color: #FAFAFB;
        }
  
        td:first-child {
          border-radius: 14px 0 0 14px;
        }
  
        td:last-child {
          border-radius: 0 14px 14px 0;
        }
  
        td {
          font-size: $font-size-small;
        }
  
        &:hover {
          background-color: #F4F0FF;
        }
      }
    }
  }
}