@mixin font($alias, $name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $alias;
    src: url("../fonts/" + $name + ".ttf") format("truetype"),
    // url("../fonts/" + $name + ".woff2") format("woff2"),
    url("../fonts/" + $name + ".woff") format("woff"),
    url("../fonts/" + $name + ".eot"),
    url("../fonts/" + $name + ".eot?#iefix") format("embedded-opentype");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font("Montserrat", "Montserrat-Light", 300);
@include font("Montserrat", "Montserrat-LightItalic", 300, italic);

@include font("Montserrat", "Montserrat-Regular");
@include font("Montserrat", "Montserrat-Italic", normal, italic);

@include font("Montserrat", "Montserrat-Medium", 500);
@include font("Montserrat", "Montserrat-MediumItalic", 500, italic);

@include font("Montserrat", "Montserrat-SemiBold", 600);
@include font("Montserrat", "Montserrat-SemiBoldItalic", 600, italic);

@include font("Montserrat", "Montserrat-Bold", bold);
@include font("Montserrat", "Montserrat-BoldItalic", bold, italic);